<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
                <div class="page-header">
                    <h1>On what goods and services will the mark be used?</h1>
                </div>
                <div class="page-body">
                    <div class="alert alert-info">
                        <p>Note: Each class (category) of goods and services you include increases the cost of your filing fee.</p>
                    </div>
                    <hr >
                    <div class="form-inline">
                    <div class="form-group">
                        <p><b>Do you prefer adding your goods and services by searching for them in ID Manual?</b></p>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" id="addWithIdButton">Add Goods/Services with ID Manual</a>
                    </div>
                    </div>
                    <hr />

                    <div class="row">
                        <!-- first row -->
                        <div class="col-md-12">
                            <p>Please enter your goods and services in the text box below.</p>
                            <p>Once you have entered your goods and services, we will check those goods and services against ID Manual for possible matches.</p>
                            <p>You will be given an opportunity to continue with goods and services not found in ID Manual, or to replace them with similar goods and services found in ID Manual.</p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- first row -->
                        <div class="col-md-12">
                            <label for="textarea1">Enter goods and services below:</label>
                            <textarea id="textarea1" class="form-control"></textarea>
                        </div>
                    </div>


                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-xs-4 ">
                            <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                        </div>
                        <div class="col-md-4 col-xs-4 text-center">
                            <a class="btn btn-success margin-down-thirty" id="saveButton">Save</a>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- end Main-->
</div>
