<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
                <div class="page-header">
                    <h1>eFile Home</h1>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Welcome to the guided application for filing for a trademark registration. If you're a first-time filer or if you infrequently, we'll provide help along the way</p>
                            <p>First tell us if you're starting a new application or if you want to open and continue an application you have already started.</p>
                        </div>
                    </div>
                    <div class="row margin-up-thirty margin-down-thirty">
                        <div class="col-md-5">
                            <a class="btn btn-block btn-primary btn-lg" href="#getStartedCover">Start a new application</a>
                        </div>
                        <div class="col-md-1">
                            <p class="text-center">or</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#savedAppHome" class="btn btn-block btn-primary btn-lg">Open and continue a saved application</a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4 col-xs-4 ">
                            <p>Other situations</p>
                            <p><a href="">Edit an application you've already filed</a>
                            </p>
                        </div>
                    </div>

                </div>
            </main>
        </div>
        <!-- end Main-->
    </div>
</div>
