<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
            <div class="page-header">
                <h1>confirm Entries WIP</h1>
            </div>
            <div class="page-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                        Welcome to the guided application for filing a trademark registration.</p>
                        <p>
                        If you're a first-time filer or file infrequently, we'll provide help along the way.
                        </p>
                        <h2 class="h4">Before You Start</h2>
                        <ul>
                            <li>Know what you need to file</li>
                            <li>Avoid common mistakes</li>
                            <li>Realize that all information is public</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height:150px;">
                                <p>Video</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>First, we'll help you get ready to file the application. This will save you time later on. We'll start with some key questions and the checklist for first-time filers.</p>
                    </div>
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-4 ">
                        
                    </div>
                    <div class="col-md-4 col-xs-4">
                        
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                    </div>
                </div>
            </div>
            </main>
        </div>
        <!-- end Main-->
    </div>
</div>