<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer" ></div><div class="col-md-9" >
        <!-- begin Main -->
        <main class="main-wrapper">
        <div class="page-header">
            <h1>Contact information</h1>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-8">
                    <h2>Key points before you begin this section:</h2>
                    
                    <ul>
                        <li>Primary key point here.</li>
                        <li>If an attorney is listed on this application, USPTO must communicate with the listed attorney throughout the application process.</li>
                        <li>All data in the application except payment data is public record once you file it - including correspondence information. The phone, email, and mailing address may appear in search results on internet search engines such as Google, Yahoo, or Bing. Other third-party websites may post your information.</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body" style="min-height:150px;">
                            <p>Video</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                <p><a href="">What to have ready</a></p>
                </div>
            </div>
            <hr />
            
            <div class="row">
                <div class="col-md-6 col-xs-6 ">
                    <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                </div>
                
                <div class="col-md-6 col-xs-6">
                    <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                </div>
            </div>
            </main>
        </div>
    </div>