<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
            <div id="addressCorrespondenceContainer">
                <div class="page-header">
                    <h1>Where should USPTO send official correspondence?</h1>
                </div>
                <div class="page-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <p>Enter the official correspondence address where the USPTO examining attorney or other staff should send official letters about the trademark application.</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceName" class="">Correspondent Name
                                    <span class="glyphicon glyphicon-asterisk">
                                    <span class="sr-only">Required</span>
                                    </span>
                            </label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="form-control" id="correspondenceName" name="correspondenceName" >
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceFirmName" class="">Firm Name</label>
                            <input type="text" class="form-control" id="correspondenceFirmName" name="nameLine2Tx" >
                        </div>

                    </div>
                    <!-- Start Onwer information -->
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceCountry" class="">Country <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                        </span>
                            </label>
                            <div class="control-group">
                                <div class="controls">
                                    <select class="form-control" id="correspondenceCountry" name="country">
                                        <option value="">Please select</option>
                                        <option value="US">United States</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">&#197;land Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">C&#244;te d&#39;Ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Cura&#231;ao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People&#39;s Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People&#39;s Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">R&#233;union</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barth&#233;lemy</option>
                                        <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceAddress1" class="">Address Line 1 <span class="glyphicon glyphicon-asterisk">
                                    <span class="sr-only">Required</span>
                                    </span>
                            </label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="form-control" id="correspondenceAddress1" name="address1"  required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceAddress1" class="">Address Line 2</label>
                            <input type="text" class="form-control" id="correspondenceAddress2" name="address2"  required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceAddress1" class="">Address Line 3</label>
                            <input type="text" class="form-control" id="correspondenceAddress3" name="address3"  required />
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceCity" class="">City <span class="glyphicon glyphicon-asterisk">
                                    <span class="sr-only">Required</span>
                                    </span>
                            </label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="form-control" id="correspondenceCity" name="city"  required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="countryContainer"></div>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceWebsiteAddress" class="">Website Address</label>
                            <div class="control-group">
                                <div class="controls">
                                    <input id="correspondenceWebsiteAddress" type="url" class="form-control" name="website"  required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">
                            <label for="correspondenceDocketNumber" class="">Individual Docket/Reference Number</label>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="text" class="form-control" id="correspondenceDocketNumber" name="docketNumber" >
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <legend>Correspondence email</legend>
                         <div class="form-group row">
                            <div class="col-sm-8">
                                <p>In accordance with the notice in the Federal Register dated June 21, 1999 [Internet Usage Policy, Fed. Reg. Vol. 64, No. 118 (June 21, 1999, pp. 33056-66)], this will grant the USPTO permission to send correspondence regarding this application to the applicant, the applicant's appointed attorney, or its designated domestic representative.</p>
                      
                                <div class="alert alert-info">
                                    <p>$ Savings Possible: Allow the USPTO to send all official correspondence via email to the Primary Email Address</p>
                                </div>
                            </div>
                       
                            <div class="col-sm-8">
                                <label for="correspondenceEmail" class="">Please enter the Primary Email Address</label>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control" id="correspondenceEmail" name="email" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="form-group row">
                            <div class="col-sm-8">
                            <input type="checkbox" id="correspondenceEmailPermissionFlag" name="emailPermissionFlag" />
                            <label for="correspondenceEmailPermissionFlag">By checking this box, I authorize the USPTO to send official communications by email</label>
                        </div>

                        </div>
                         <div class="form-group row">
                            <div class="col-sm-8">
                                <div class="alert alert-warning">
                                    <p>Important: By checking this box, the appointed attorney acknowledges that it is solely responsible for receipt of USPTO documents sent via e-mail. The appointed attorney should periodically check the status of its application through the Trademark Status & Document Retrieval (TSDR) database, to see if the assigned examining attorney has e-mailed an Office Action. If an action has been sent to the provided e-mail address, the USPTO is not responsible for any e-mail not received due to the applicant's security or anti-spam software, or any problems within the applicant's e-mail system. All sent actions can be viewed on-line, from Trademark Status & Document Retrieval.</p>
                                </div>
                            </div>
                        </div>                    
                        
                       
                        <div class="row">
                            <div class="col-sm-8">
                                <p><strong>Add any Secondary (Courtesy) Email Addresses to receive "courtesy" copies (cc:)</strong></p>
                                <button id='addSecondaryEmailLink' class="btn btn-link">+ Add Secondary (Courtesy) Email Addresses</button>
                            </div>
                        </div>
                        <div id="secondaryEmails" hidden>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                <label for="secondaryEmail">Courtesy email 1</label>
                                <input class="form-control" type="text" id="secondaryEmail"  value="" />
                                    <span aria-hidden="true" class="text-danger" id="emailError"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary"  id="addSecondaryEmail" name="addSecondaryEmail" >Add Another Email Address</button>

                                </div>
                            </div>
                        </div>

                    </fieldset>


                    <hr />
                    <div id="secondaryEmailContainer"></div>
                    <div class="row margin-up-thirty">
                        <div class="col-md-4 col-xs-4 ">
                            <a class="btn btn-default" id="previousPage">Previous</a>
                        </div>
                        <div class="col-md-4 col-xs-4 text-center">
                            <a class="btn btn-success" id="saveButton">Save</a>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <a class="btn btn-primary pull-right" id="continueButton">Next</a>
                        </div>
                    </div>
                </div>

            </div>
            </main>
        </div>
    </div>
</div>