<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
                <div class="page-header">
                    <h1>Prior international applications</h1>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Filing internationally ... [explain in lay terms].
                            </p>

                            <fieldset>
                                <legend>Have you filed an international trademark application for this same mark within the last six months?</legend>
                                <p><a href="">I am not sure, I want to read more about international filing and basis</a>
                                </p>
                                <div class="clearfix">
                                    <input type="radio" id="internationalNo" name="internationalIn" value="false"/>
                                    <label for="internationalNo">No, I have not filed an international trademark application for this mark in the past six (6)months</label>
                                </div>
                                <div class="clearfix">
                                    <input type="radio" id="internationalYes"  name="internationalIn" value="true"/>
                                    <label for="internationalYes">Yes, I have completed an international trademark application for this mark in the past six (6) months</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-4 ">
                        <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-success margin-down-thirty" id="">Save</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                    </div>
                </div>
        </div>
        </main>
    </div>
    <!-- end Main-->
</div>

