<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
                <div class="page-header">
                    <h1>Prior foreign registration</h1>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Filing internationally ... [explain in lay terms].
                            </p>

                            <fieldset>
                                <legend>Have you filed an international trademark application for this same mark within the last six months?</legend>
                                <p><a href="">I am not sure, I want to read more about international filing and basis</a>
                                </p>
                                <div class="clearfix">
                                    <input type="radio" id="foreignRegNo" name="foreignRegIn" value="false" />
                                    <label for="foreignRegNo">No, I do not have a registration for this mark in another country</label>
                                </div>
                                <div class="clearfix">
                                    <input type="radio" id="foreignRegYes" name="foreignRegIn" value="true"/>
                                    <label for="foreignRegYes">Yes, I have a registration for this mark in another country</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4 col-xs-4 ">
                        <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-success margin-down-thirty" id="">Save</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                    </div>
                </div>
        </div>
        </main>
    </div>
    <!-- end Main-->
</div>
</div>
