 <!-- Start show the following section if the country above is selected -->
                <div class="margin-up-twenty" id="mailAddressSection">                   
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="docketNumber" class="">Internal Docket Number</label>
                                <input name="docketNumber" type="text" class="form-control" id="docketNumber" name="docketNumber" value=""      maxlength="12">
                                <span aria-hidden="true" class="text-danger" id="docketNumberError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="address1" class="">
                                    <a id="lblAddress1" data-type="text" class="editable editable-click">Address Line 1
                                    </a>
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="address1" name="address1"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="address2" class="">
                                    <a id="lblAddress2" data-type="text" class="editable editable-click">Address Line 2</a>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="address2" name="address2"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="address3" class="">
                                    <a id="lblAddress3" data-type="text" class="editable editable-click">Address Line 3</a>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="address3" name="address3"  />
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        
                        
                        
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="city" class="">
                                    <a id="lblCity" data-type="text" class="editable editable-click">City</a>
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="city" name="city"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="email" class="">
                                    <a id="lblEmail" data-type="text" class="editable editable-click">Email address</a>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" name='email' id="email"  />
                                    </div>
                                </div>
                                <span aria-hidden="true" style="color:red" id="emailError"></span>
                            </div>
                        </div>
                    
                    
                    
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <label for="website" class="">Website URL</label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="url" class="form-control" id="website" name="website"  />
                                    </div>
                                </div>
                                <span aria-hidden="true" style="color:red" id="websiteError"></span>
                            </div>
                        </div>        
                        
                </div>    

                <div class="row button-row" id="buttonsDiv">
                    <div class="col-md-4 col-xs-4 ">
                        <a class="btn btn-default" id="previousPage">Previous</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn-primary" id="editButton">Edit Labels</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-success pull-right" id="continueButton">Add</a>
                    </div>
                </div>
               