 <!-- start following section is only for USA -->
                        <div class="form-group row mailAddressUSSection">
                            <div class="col-sm-5" id="applicantState">
                                <label for="state" class="">
                                    <a id="lblState" data-type="text" class="editable editable-click">State</a>
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                     
                                    </div>
                                </div>
                                <span aria-hidden="true" style="color:red" id="stateError"></span>
                            </div>
                            <div class="col-md-3 col-sm-6 mailAddressUSSection">
                                <label for="zip" class="">
                                    <a id="lblZip" data-type="text" class="editable editable-click">Zip code</a>
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="zip" name="zip"  required />
                                    </div>
                                </div>
                                <span class="help-block">XXXXX or XXXXX-XXXX
                                </span>
                            </div>
                        </div>
                        <div class="form-group row mailAddressUSSection">
                            <div class="col-sm-4">
                                <label for="phone" class="">
                                    <a id="lblPhone" data-type="text" class="editable editable-click">Phone Number</a>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="phone" name="phone"  required />
                                    </div>
                                </div>
                                <span aria-hidden="true" style="color:red" id="phoneError"></span>
                            </div>
                            <div class="col-sm-4">
                                <label for="fax" class="">
                                    <a id="lblFax" data-type="text" class="editable editable-click">Fax Number</a>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="fax" name="fax"  required />
                                    </div>
                                </div>
                                <span aria-hidden="true" style="color:red" id="faxError"></span>
                            </div>
                        </div>
                        <!-- End above section is only for USA -->