     
                        <!-- start following section if not USA -->
                        <div class="form-group row mailAddressNonUSSection">
                            <div class="col-sm-5">
                                <label for="state1" class="">
                                    Province, state, county
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" id="state1" name="state" class="form-control" />                                   
                                    </div>
                                </div>                                
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label for="" class="">
                                    Postal code
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" name="zip" id="zip" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mailAddressNonUSSection">
                            <div class="col-sm-6">
                                <label for="phone" class="">
                                   Phone number, including country code
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="phone" name="phone"  required />
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="form-group row mailAddressNonUSSection">
                            <div class="col-sm-6">
                                <label for="fax" class="">
                                    Fax number, including country code 
                                </label>
                                <div class="control-group">
                                    <div class="controls"> 
                                        <input type="text" class="form-control" id="fax" name="fax"  required />
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <!-- End above section if not USA -->