<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer" ></div><div class="col-md-9" >
        <!-- begin Main -->
        <main class="wrapper">
        <div id="markTypeContainer">
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- hide this whole div in development -->
                <div class="well">
                    <p>this value is passed from the previous page, </p>
                   
                    <input value="stylizedTextMark" type="radio" id="stylizedTextMark" name="markType"><label for="stylizedTextMark">stylized Text Mark</label>
                   
                    <input value="designMark" type="radio" id="designMark" name="markType"><label for="designMark">design Mark</label>

                     <input value="designOnlyMark" type="radio" id="designOnlyMark" name="markType"><label for="designOnlyMark">design only Mark</label>
                </div>
                
                
            </div>
        </div>
        
        </main>
    </div>
</div>
<!-- end Main-->