<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer" ></div><div class="col-md-9" >
        <!-- begin Main -->
        <main class="main-wrapper">
        <div class="page-header">
            <h1>Mark information</h1>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra metus nec dignissim consequat. Donec tristique tortor tincidunt erat fermentum fermentum. In hac habitasse platea dictumst. Vestibulum bibendum faucibus elit sit amet porta. Aliquam lacinia bibendum augue id commodo. Maecenas ut nunc at odio eleifend vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce pretium interdum ante, ut viverra odio aliquam at. Aenean eu velit convallis, dapibus dui sed, ornare nibh. Nam metus ipsum, tristique et dictum sed, dictum eu libero. Integer vulputate vel justo ac semper. Pellentesque egestas mi sit amet lobortis dictum. Fusce molestie urna in nisl cursus, quis malesuada quam hendrerit.</p>
                    <h2 class="h4">Key points for this section</h2>
                        <ul>
                            <li>How to decide what type of mark to apply for: broad vs. specific protection</li>
                            <li>Lofem ipsum add a note here.</li>                            
                        </ul>
                </div>
                <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height:150px;">
                                <p>Video</p>
                            </div>
                        </div>
                    </div>
            </div>
            <hr />
            
            <div class="row">
                <div class="col-md-6 col-xs-6 ">
                    <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                </div>
                
            <div class="col-md-6 col-xs-6">
                <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
            </div>
        </div>
        </main>
    </div>
</div>
