<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer" ></div><div class="col-md-9" >
        <!-- begin Main -->
        <main class="main-wrapper">
        <div class="page-header">
            <h1>Applicant</h1>
        </div>
        <div class="page-body">
            <div class="row">
                <div class="col-md-8">
                    <p>The <b>applicant</b> is the person, business, or other entity that [define: claims to own the mark and is filing for registration.]</p>
                    <p>[more helpful information here<br /><br />
                    
                    If you're not sure, we'll guide you through determining this.]</p>
                    <h2 class="h4">Helpful topic here</h2>
                    <ul>
                        <li>Helpful topic here</li>
                        <li>Helpful topic here</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body" style="min-height:150px;">
                            <p>Video</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="alert alert-info"><p>One of the factors for reducing filing fees is allowing all contact to
                    occur by email</p></div>
                    <div class="alert alert-warning"><p>All data in the application except payment data is public record once you file it - including contact such as street address and phone number. Consider using a PO Box or business address rather than a home address and a non-personal phone number.</p></div>
                    <p><a href="#">The ownership information we will ask about</a>
                </div>
            </div>
            <hr />
            
            <div class="row">
                <div class="col-md-6 col-xs-6 ">
                    <a class="btn btn-default margin-down-thirty" id="previousPage">Previous</a>
                </div>
                
                <div class="col-md-6 col-xs-6">
                    <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                </div>
            </div>
            </main>
        </div>
    </div>