
                
                    
                    <!--Start new section for separating name in first/last/middle name -->
                    <fieldset>
                        <legend>Individual's legal name 
                            <span class="glyphicon glyphicon-asterisk">
                                <span class="sr-only">Required</span>
                            </span>
                            <span class="help-link margin-left-twenty"><a href="">What is a "legal name"?</a></span>
                        </legend>
                        <div class="row">    
                            <div class="col-sm-5">
                                <label for="oFirstName1" class="">First name (personal name)
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control" id="oFirstName1" name="firstName" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label for="oMiddleName1" class="">Middle name</label>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control" id="oMiddleName1"  name="middleName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label for="oFamilyName1" class="">Last name (surname or family name)
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="text" class="form-control"id="oFamilyName1"  name="lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 margin-up-ten">
                                <label for="oSuffix1" class="">Suffix (Jr., Sr., III, etc.)</label>
                                <div class="control-group">
                                    <div class="controls">
                                        <select class="form-control" id="oSuffix1" name="suffix" >
                                            <option>Jr.</option>
                                            <option>Sr.</option>
                                            <option>III</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--End new section for separating name in first/last/middle name -->
                        </div>
                    </fieldset>
                    
                    <!-- start new block of code on 9/5 - mk asking for citizenship first-->
                     <fieldset>
                        <legend>What is the individual's country of citizenship? </legend>                 
                        <div class="row form-group">    
                            <div class="col-sm-6" id="entityCountry">
                                <label class="">Country of citizenship
                                    <span class="glyphicon glyphicon-asterisk">
                                        <span class="sr-only">Required</span>
                                    </span>
                                </label>
                                <div class="control-group">
                                    <div class="controls">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden" id="entityState">
                                <label class="">State</label>
                                <div class="control-group">
                                    <div class="controls">
                                       
                                    </div>
                                </div>
                            </div>                            
                            <!--End new section for separating name in first/last/middle name -->
                        </div>
                    </fieldset>
                    <!-- End new block of code on 9/5 - mk-->
                    
                  
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-warning">
                                <p>Reminder: all filing information is made public, including the applicant's name and address. Some applicants prefer to use a PO box address or a business address rather than publishing their home address.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-bold">What is the individual's legal mailing address?</p>
                            <p>This should be an address where [define the type of address: is it where others mail papers to the applicant or registrant about using the mark? where packages can be delivered]?</p>
                        </div>
                    </div>
                    <div class="row" id="applicantCountry">
                         <div class="col-sm-8">
                            <label for="country" class="">
                            <a id="lblCountry" data-type="text" class="editable editable-click">First select the applicant's country</a>
                            <span class="glyphicon glyphicon-asterisk">
                                <span class="sr-only">Required</span>
                            </span>
                            </label>
                            <div class="control-group">
                                <div class="controls"> 
                                   
                                </div>
                            </div>
            
                        </div>
                    </div>

                   
                
               
