<div id="utilityBarContainer"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3" role="navigation" id="leftNavContainer"></div>
        <div class="col-md-9">
            <!-- begin Main -->
            <main class="main-wrapper">
            <div class="page-header">
                <h1>Who owns the mark: Filing as an individual vs. as a business</h1>
            </div>
            <div class="page-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                        If you wish to file an application and are not sure whether...</p>
                        <p>
                        More helpful instruction here written in plain, nonintimidating language
                        </p>
                        <p>Filing as an individual...</p>
                        <h2 class="h4">Examples of entities other than individuals include</h2>
                        <ul>
                            <li>sole proprietorships</li>
                            <li>corporations</li>
                            <li>limited liability companies (LLC)</li>
                            <li>partnerships, limited partnerships, and joint ventures</li>
                            <li>trusts and estates</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body" style="min-height:150px;">
                                <p>Insert information from TMIN (TM video tips, transcripts)</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
                <hr />
                <div class="row">
                     <div class="col-md-4 col-xs-4 ">
                        <a class="btn btn-default" id="previousPage">Previous</a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a class="btn btn-primary margin-down-thirty pull-right" id="continueButton">Next</a>
                    </div>
                </div>
            </div>
            </main>
        </div>
        <!-- end Main-->
    </div>
</div>