<div>
    <span aria-hidden="true" class="text-danger" id="signTypeError"></span>
</div>


<% if (signTypeValueSelected=='electronicSign' ) {%>
<h2>Averments</h2>
<div id="averments" class="alert alert-info">

</div>
<h2>Declaration</h2>
<div class="alert alert-info">
    <p>The signatory being warned that willful false statements and the like are punishable by fine or imprisonment, or both, under 18 U.S.C. Section 1001, and that such willful false statements and the like may jeopardize the validity of the application or any registration resulting therefrom, declares that all statements made of his/her own knowledge are true and all statements made on information and belief are believed to be true.
    </p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Electronic Signature</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>The application will not be "signed" in the sense of a traditional paper document. To verify the contents of the application, the signatory must enter any alpha/numeric character(s) or combination thereof of his or her choosing, preceded and followed by the forward slash (/) symbol. The USPTO does not determine or pre-approve what the entry should be, but simply presumes that this specific entry has been adopted to serve the function of the signature. Most signatories simply enter their names between the two forward slashes, although acceptable "signatures" could include /john doe/; /jd/; or /123-4567/. The application may still be validated to check for missing information or errors even if the signature and date signed fields are left blank; however, you must specifically click the button for "Submit application unsigned," above.</p>
            </div>

        </div>
        <hr />
        <div id="signatoryContainer"></div>
         <div class="form-group row">
            <div class="col-sm-6">
                <label for="signature" class="">Signature</label>
                <span class="glyphicon glyphicon-asterisk">
                    <span class="sr-only">Required</span>
                </span>
                <p class="help-block">Enter between two slash marks, such as /Full Name/</p>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="signature" name="signature" >
                    </div>

                </div>
                
            </div>
            <div class="col-sm-6">
                <label for="signingDt" class="">Date Signed:</label>
                <span class="glyphicon glyphicon-asterisk">
                    <span class="sr-only">Required</span>
                </span>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="signingDt" name="signingDt" >
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="signatoryName" class="">Signatory's name</label>
                <span class="glyphicon glyphicon-asterisk">
                    <span class="sr-only">Required</span>
                </span>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="signatoryName" name="signatoryName" >
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                <label for="signatoryPhoneNumber" class="">Signatory's phone number</label>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="signatoryPhoneNumber" name="signatoryPhoneNumber" >
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <label for="signatoryPosition" class="">Signatory's position</label>
                <span class="glyphicon glyphicon-asterisk">
                    <span class="sr-only">Required</span>
                </span>
                <p class="help-block">Title or relationship to the applicant</p>
                <div class="control-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="signatoryPosition" name="signatoryPosition" >
                    </div>
                </div>
                
            </div>
        </div> 
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" id="addSignatory">Add Signature</button>
            </div>
        </div>
    </div>

</div>

<%}%>
<% if (signTypeValueSelected=='emailSign' ) {%>
<div class="panel panel-default">
    <div class="panel-heading">Email a link to someone else to sign</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                coming soon
            </div>
        </div>
    </div>
</div>

<%}%>
<% if (signTypeValueSelected=='printSign' ) {%>
<div class="panel panel-default">
    <div class="panel-heading">Print and sign by hand</div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-md-6">
                coming soon
            </div>
        </div>
    </div>
</div>

<%}%>
<% if (signTypeValueSelected=='unSign' ) {%>
<div class="panel panel-default">
    <div class="panel-heading">Submit the application unsigned</div>
    <div class="panel-body">
        <div class="form-group row">
            <div class="col-md-6">
               coming soon
            </div>
        </div>
    </div>
</div>
<%}%>
<div>
    <span aria-hidden="true" class="text-danger" id="signError"></span>
</div>

<div id="unsignWarning" class="alert alert-warning" hidden>
    <p>A signature is not required for submission, but is required for mark registration. User will not be eligible for discount filing fees without submitting a signed declaration!</p>
</div>
<div id="unsignWarningCon" class="alert alert-warning" hidden>
    <p>A signature is not required for submission, but is required for mark registration. User will not be eligible for discount filing fees without submitting a signed declaration!</p>
    <fieldset>
        <legend>Do you want to continue?</legend>
        <div class="form-inline">
            <div class="form-group">
                <input type="radio" id="confirm" />
                <label for="confirm" class="">Yes</label>
            </div>
            <div class="form-group">
                <input type="radio" id="cancel" />
                <label for="cancel">No</label>
            </div>
        </div>
    </fieldset>
</div>
