 <% if (entityTypeValueSelected=== '3' ) {%>
 <label class="">State of Incorporation</label>

 <%}%>
 <% if (entityTypeValueSelected==='16' || entityTypeValueSelected==='2' || entityTypeValueSelected==='13' || entityTypeValueSelected==='5' || entityTypeValueSelected==='19' || entityTypeValueSelected==='17' || entityTypeValueSelected==='18' || entityTypeValueSelected==='99') {%>

 <label for="otherState" class="">State Where Legally Organized</label>
 
 <%}%>


                                
                              
<input id="otherState" name="otherState" class="form-control">