<fieldset>
	<legend class="legend">Is an attorney filing this application?</legend>
	<div class="row">
		<div class="col-md-1">
			<input id="r1" type="radio" name="attorneyFiling" />
			<label for="r1">Yes</label>
		</div>
		<div class="col-md-1">
			<input id="r2" type="radio" name="attorneyFiling" />
			<label for="r2">No</label>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend class="legend">Do you have previously-saved data?</legend>
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-info">
				<p>[OPTIONAL] To access previously-saved data, use the "Browse/Choose File" button below to access the file from your local drive.</p>
				<p>NOTE: For specific instructions, please click here. FAILURE TO FOLLOW THESE NEW INSTRUCTIONS WILL RESULT IN THE DISPLAY OF YOUR DATA IN AN XML FORMAT THAT CANNOT BE EDITED.</p>
				<p>NOTE: Do NOT attempt to use the button below to upload an image file (for example, a specimen). You must use the button that will be presented for that purpose within the proper section of the actual form.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="input-group">
				<span class="input-group-btn">
					<span class="btn btn-primary btn-file">
						Browse&hellip;
						<input type="file" multiple>
					</span>
				</span>
				<input type="text" class="form-control" readonly>
			</div>

		</div>
	</div>
</fieldset>
<div class="row">
	<div class="col-md-4">
		<a class="btn btn-primary margin-up-twenty margin-down-twenty " href="#ownerDetails">Continue To Owner Details</a>
	</div>
</div>
