


 <nav class="navbar  navbar-inverse" role="navigation">
        <div class="container">
         <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                        Left Navigation
                    </button>
            <ul class='nav nav-wizard'>
                <li class="one  active">
                    <a href='#'>
                        
                            <span class="fa fa-check-square"></span>
                        
                        <span class="sm-hide">Application</span>
                    </a>
                </li>
                <li class="two">
                    <a href='#step2-a' data-toggle="tab">
                       <span class="fa fa-check-square"></span>
                        <span class="sm-hide">Confirmation and Payment</span>
                    </a>
                </li>
                <li class="three ">
                    <a href='#step3-a' data-toggle="tab">
                        <span class="fa fa-check-square"></span>
                        <span class="sm-hide">Last placeholder step</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>





