<div class="panel panel-info">
    <div class="panel-heading">Signature Status
    </div>
    <div style="padding:6px 0 6px 6px;">
    <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active">
    <a  ng-click="showApplicationStatus()">T markley Update</a></li>
    <li>
    <button class="btn btn-link" ng-click="showApplicationStatus()">T markley Update</button></li>
    <li>
    <button class="btn btn-link" ng-click="showApplicationStatus()">T markley Update</button></li>
    </ul>
</div>
</div>
