<nav class="navbar navbar-status" role="navigation">
    <ul class="nav nav-justified">
        <li class="completed"><a href="#">Attorney</a>
        </li>
        <li class="completed"><a href="#/html/attorneyTask">Actions</a>
        </li>
        <li class="disabled"><a href="#">Search</a>
        </li>
        <li class="disabled"><a href="#">Search Results</a>
        </li>
        <li class="disabled" dropdown is-open="status.isopen">
            <a type="button" href="#" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">My List <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<h1>Appoint additional attorneys: Step 1</h1>
<div class="form-group row">
    <div class="col-sm-5">
        <button class="btn btn-default" ng-click="goBack()">
            < Back to Actions</button>
    </div>
</div>
<h2>Advanced Search: I want to search ....</h2>
<tabset justified="true">
    <tab heading="By serial/registration, mark literal, or docket number">
        <fieldset class="form-group">
            <legend class="sr-only">search by serial/registration, mark literal, or docket number</legend>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="inlineRadio1" ng-model="content"> Serial or registration number
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="inlineRadio2" ng-model="content"> Mark literal
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="inlineRadio3" ng-model="content"> Attorney or owner's docket number
            </label>
        </fieldset>
        <div class="form-group">
        <label for="txtarea1" class="sr-only">"Serial or registration number" or "Mark literal" or "Attorney or owner's docket number" note- change this based on radio selection</label>
        <textarea id="txtarea1" class="form-control"></textarea>
        <p class="help-block" ng-show="content == 'inlineRadio1'">Enter 7-digit registration or 8-digit serial numbers separated by commas. [Maximum of XXX records.]</p>
        <div ng-show="content == 'inlineRadio2'">
            <p class="help-block">Enter the mark literal elements, separated by commas. The mark literal is any word(s), letter(s), and/or number(s) that appear in the mark.</p>
            <p class="help-block">

                Tip: Enter the exact text to limit results. For example, "markey" returns all marks with that word, but "t. markey" returns only marks with that exact combination of words and letters.</p>
        </div>
        <p class="help-block" ng-show="content == 'inlineRadio3'">Enter the attorney's or owner's docket or reference numbers, separated by commas.</p>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-block" ng-click="goToSearchResultByMark()">Search</button>
            </div>
        </div>
    </tab>
    <tab heading="By attorney or law firm">
    <h3 class="section-heading">Find all mark records with</h3>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input1">Any of these attorneys or firms</label>
                <input id="input1" class="form-control" />
                <p class="help-block">Enter all or part of each name, separated by [commas]</p>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Your results will include any records with either the firm name or an attorney name matching your entries.</p>
            </div>
        </div>
        <hr />
        <h3 class="section-heading">But only those including one or more of the following ...</h3>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="select1">Attorneys with addresses in this state</label>
                <select id="select1" class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Picking a state here will limit the results to records with an attorney listing this state as the attorney's address.</p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input2">This domain name in the attorney email address</label>
                <input id="input2" class="form-control" />
                <p class="help-block">Enter the part of the email address after the "@" sign</p>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Entering a domain name here limits the results to records with an attorney email address ending in this entry, e.g., "attorney@domain.com"</p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input3">Records for this mark owner</label>
                <input id="input3" class="form-control" />
                <p class="help-block">Enter all or part of the name</p>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Your entry here limits your results to marks that have this owner name.</p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input4">This exact name or firm name</label>
                <input id="input4" class="form-control" />

            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">To limit your search, you can enter the name as it is on the application or registration</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-block" ng-click="goToSearchResultByAttorney()">Search</button>
            </div>
        </div>
    </tab>
    <tab heading="By owner or applicant">
        <h3 class="section-heading">Find all mark records with ...</h3>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input5">Any of these owner or applicant names</label>
                <input id="input5" class="form-control" />
                <p class="help-block">Enter all or part of the owner name(s), separated by commas</p>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Enter the name as it is on the applicaton or registration. Your results will include any records with an owner or applican'ts name containing one of your entries.</p>
            </div>
        </div><hr />
        <h3 class="section-heading">But only those including one or more of the following ...</h3>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="input6">This owner or applicant street address</label>
                <input id="input6" class="form-control" />
                <p class="help-block">Enter a street address only. </p>
            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">The street address of the owner as listed on the mark record. Enter all or part of the street address. Do not include the city, state, zip or postal code, or country. </p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="entityType1">An owner with this entity type</label>
                <select id="entityType1" class="form-control margin-btm-ten">
                    <option></option>
                </select>
                <label for="entityType2" class="sr-only">domestic entity type</label>
                <select id="entityType2" class="form-control">
                    <option></option>
                </select>

            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">If the owner is a citizen or organized in the U.S., you can limit to this domestic entity type or "other". If the owner is a non-U.S. entity, select a foreign entity type or "other foreign entity".</p>
            </div>
        </div>
        <div class="row form-group ">
            <div class="col-sm-6 ">
                <label for="citizenship1">An owner with citizenship or legally organized in this country or U.S. state</label>
                <select id="citizenship1" class="form-control margin-btm-ten">
                    <option></option>
                </select>
                <label for="citizenship2" class="sr-only">An owner with citizenship or legally organized in this country or U.S. state</label>
                <select id="citizenship2" class="form-control">
                    <option></option>
                </select>

            </div>
            <div class="col-sm-6 ">
                <p class="text-muted text-bold">Records with at least one individual owner having citizenship in the selected country or state. Or, for other entity types, the country or state where the entity is legally organized or incorporated.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3 pull-right">
                <button class="btn btn-primary btn-block" ng-click="goToSearchResultByOwner()">Search</button>
            </div>
        </div>
    </tab>
</tabset>
