<div class="form-group row ">
    <div class="col-sm-4">
        <h2 class="h4">{{caseList.length}} Records to be updated</h2>
    </div>


    <div class="col-sm-4" >
        <form class="form-inline" role="form" ng-hide="ctrlName=='reviewAppointMultiple'">
            <div class="form-group">

                <label class="sr-only" for="select1">Case list</label>
                <select id="select1" class="form-control">
                    <option>My case list</option>
                </select>
            </div>
            <button class="btn btn-primary" ng-click="goToAppoint()">Appoint attorney</button>
        </form>
    </div>
    <div class="col-sm-4 text-right">
        <button class="btn btn-default"><span class="fa fa-print"></span><span class="sr-only">Print</span>
        </button>
        <button class="btn btn-default"><span class="fa fa-file-text-o"></span><span class="sr-only">file</span>
        </button>
        <button class="btn btn-default"><span class="fa fa-download"></span><span class="sr-only">Download</span>
        </button>
        <button class="btn btn-primary" id="tableView"><span class="fa fa-th-large"></span><span class="sr-only">Table View</span>
        </button>
        <button class="btn btn-default" id="listView"><span class="fa fa-th-list"></span><span class="sr-only">List View</span>
        </button>
    </div>
</div>
<table class="table fixed">
    <thead>
        <tr>
            <th class="" style="width: 50px;">
                <label>
                    <input type="checkbox">
                </label>
            </th>
            <th class="" style="width:30px;">
                <button class="sr-only">expand/collapse</button>

            </th>
            <th>
                <button class="pn-table-sort-trigger">Serial
                    <br />number</button>

            </th>
            <th class="" aria-sort="ascending">
                <button class="pn-table-sort-trigger">Primary attorney &amp; Firm name
                </button>

            </th>
            <th>
                <button class="pn-table-sort-trigger">Owner</button>
                <button class="pn-select-columns"><span>Select columns</span>
            </th>
            <th class="pn-last-visible">
                <button class="pn-table-sort-trigger">Mark image
                </button>
                <!-- Note for Lechen - please show image, if no image then show mark literal -->
                <button class="pn-select-columns"><span>Select columns</span>
            </th>
        </tr>
    </thead>
    <tbody class="pn-table-grouped-rows-container" ng-class="class" ng-repeat="case in pagedItems">
        <tr class="pn-table-group-title-row">
            <td>
                <label>
                    <input type="checkbox">
                </label>
            </td>
            <td class="freeze-column">
                <button ng-click="toggleClass($index)"><span style="display:none;">Expand/collapse</span>
                </button>

            </td>
            <td><a href="">{{case.serialNumTx}}</a>
            </td>
             <td>Primary attorney: {{case.primaryAttorneyName}} - {{case.primaryAttorneyFirm}}
            </td>


            <td>
                <span ng-repeat="name in case.owner track by $index">{{name}}<br /></span>
            </td>

            <td>
                <div ng-if="case.standardCharacterTx!=null" >
                    {{case.literalElementTx}}
                </div>
                <div ng-if="case.standardCharacterTx==null" >
                    <img src="http://tess2.uspto.gov/ImageAgent/ImageAgentProxy?getImage={{case.serialNumTx}}" alt="Trademark Image" height="100%" width="100%" />
                    <!--
                    <img ng-src="{{cmsMarkUrl}}/cms/rest/case/{{case.serialNumTx}}/mark/image/rendition/image-png" alt="Trademark Image" height="100%" width="100%" />
                	-->
				</div>
            </td>
        </tr>
        <tr>
            <td class="expandedContainer" colspan="6"  ng-show="activePosition == $index">
                <div class="expandedContent">
                    <div class="row">
                        <div class="col-md-10">
                            <table class="no-border">
                                <tr ng-repeat="attorney in case.attorneys">
                                    <th scope="row" ng-if="'AT'==attorney.roleCd">Primary attorney</th>
                                    <th scope="row" ng-if="'SAT'==attorney.roleCd">Other authorized attorneys</th>
                                    <td>{{attorney.partyName}}</td>
                                    <td>{{attorney.firmName}}</td>
                                    <td>{{attorney.address}}
                                        <br /> {{attorney.geographicRegion}}
                                        <br /> {{attorney.country}}
                                    </td>
                                    <td>{{attorney.docketNumber}}</td>
                                    <td>{{attorney.email}}</td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <p>{{case.literalElementTx}}</p>

                                <p>{{case.owner}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>

</table>

<div class="form-inline margin-btn-twenty">
    <div class="form-group">
        <div class="dropdown">
            <button type="button" id="pageControlBtn2" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="text-muted normal">Showing</span> {{(dict.currentPage-1)*pageSize+1}}-{{(dict.currentPage*pageSize>caseList.length)? caseList.length : dict.currentPage*pageSize}} <span class="text-muted normal">of</span> {{caseList.length}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">

                <li style="padding: 0 16px" role="presentation">
                    <form  novalidate ng-submit="goToPage()">
                        <label for="jumpToItem2">Jump to item</label>
                        <input id="jumpToItem2" ng-model="itemToDisplay" type="number" min="1" max="{{caseList.length}}" class="form-control" required>
                    </form>
                </li>
                <li class="divider"></li>
                <li role="presentation" class="dropdown-header">Show up to</li>
                <li role="presentation" ng-repeat="itemPerPage in itemPerPages" ><a role="menuitem" tabindex="-1"  ng-click="changePageSize(itemPerPage)">{{itemPerPage}} items</a>
                </li>
                <!--li role="presentation"><a role="menuitem" tabindex="-1" href="#">25 items</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50 items</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100 items</a>
                </li-->
            </ul>
        </div>
    </div>
    <div class="form-group ">
        <pager style="float: left;" boundary-links="true" items-per-page="pageSize" total-items="caseList.length"  ng-model="dict.currentPage" ng-change="pageChanged()" previous-text="<" next-text=">">
        </pager>
    </div>

</div>
