<nav class="navbar navbar-status" role="navigation">
    <ul class="nav nav-justified">
        <li class="completed"><a>Attorney</a>
        </li>
        <li class="completed"><a>Actions</a>
        </li>
        <li class="completed"><a>Search</a>
        </li>
        <li class="completed"><a>Search Results</a>
        </li>
        <li class="active"><a>My Selections</a>
        </li>
        <!--
        <li class="active"><a href="#">Appoint Attorney</a>
        </li>
        -->
    </ul>
</nav>
<h1>Appoint additional attorneys: Step 1</h1>
<div ng-show="ctrlName==='AttorneysAddCtrl'">
<button class="btn btn-default" ng-click="goBack()">< Back to Actions</button>
</div>
<div ng-show="ctrlName==='AttorneysAddCtrl'">
    <div ng-include="'templates/attorneyInfoTable.html'"></div>
</div>
<div class="panel panel-default" ng-hide="ctrlName==='AttorneysAddCtrl'">
    <div class="panel-body">
        <div ng-include="'templates/attorneyInfo.html'"></div>


        <div class="expandcollapse-item">
            <button class="btn btn-link" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                > Show attorney details</button>

            <div class="slideDown" ng-show="active">
                <div class="expand-collapse-content">
                    Show hide content to be added later
                </div>
            </div>
        </div>



    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 pull-right">
                <p class="text-right">Required fields are marked with an asterisk (
                    <span class="glyphicon glyphicon-asterisk">
                        <span class="sr-only">Required</span>
                    </span>)</p>
            </div>
        </div>

        <div ng-show="attorneyResultSwitch">
            <p>Adding the following other appointed attorney(s)</p>
            <div ng-include="'templates/appointAttorneyResult.html'"></div>
            <hr />
        </div>

        <div ng-show="attorneyFormSwitch">
            <h2 class="h3">Please provide information about the new attorney(s) to be appointed</h2>
            <div ng-include="'templates/multiCaseAppointAttorneyForm.html'"></div>
        </div>

        <div ng-show="addMoreButtonSwitch">
            <button class="btn btn-default" id="Add More" ng-click="addMore()">Add More</button>
        </div>
   
        <div class="alert alert-warning">
            <p><strong>Warning:</strong>You may not use this form if you are not the applicant's/registrant's current attorney of record or other previously appointed co-counsel.</p>
        </div>
    </div>
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-4 col-xs-4 ">
                <a href="#/attorney"><button class="btn btn-default" id="previousPage">Cancel</button></a>
            </div>
            <div class="col-md-4 col-xs-4 text-center">
                <button class="btn btn-default" id="saveButton" ng-click="test()" ng-hide="true">Save</button>
            </div>
            <div class="col-md-4 col-xs-4 text-right">
                
                <button class="btn btn-primary pull-right" id="continueButton" ng-click="continue()" ng-disabled="disableContinue">Continue</button>
            </div>
        </div>
    </div>

</div>
