<nav class="navbar navbar-status" role="navigation">
    <ul class="nav nav-justified">
        <li class="completed"><a>Attorney</a>
        </li>
        <li class="completed"><a>Actions</a>
        </li>
        <li class="disabled"><a>Search</a>
        </li>
        <li class="disabled"><a>Search Results</a>
        </li>
        <li class="disabled"><a>Case Lists</a>
        </li>
        <li class="active"><a>Remove Attorney</a>
        </li>
    </ul>
</nav>

<div ng-if="withdrawMode == 'raa3'">
	<h1>Withdrawal as Attorney of Record (Step 1)</h1>    
</div>

<div ng-if="withdrawMode == 'raa4'">
	<h1>Withdraw as Attorney of Record Now that POA has Ended (Step 1)</h1>    
</div>

<div class="alert alert warning">
    <p>Warning: You may not use this form if you are not the applicant's/registrant's current Primary attorney of record, or the mark owner.</p>
</div>
<div class="form-group row">
    <div class="col-sm-5">
        <button class="btn btn-default" ng-click="goBack()">
            < Back to Actions</button>
    </div>
</div>
<h2>1 Selection</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-include="'templates/attorneyInfo.html'"></div>

		<div ng-if="withdrawMode == 'raa4'">
	            <button class="btn btn-link" ng-click="openTsdrWindow()"> View all attorneys (in TSDR)</button>
		</div>

        <div class="expandcollapse-item">
            <button class="btn btn-link" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                > Show attorney details</button>

            <div class="slideDown" ng-show="active">
                <div class="expand-collapse-content">
                    <div ng-include="'templates/subAttorneyDetailTable.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>The Primary Attorney for this record is</h2>
        <div ng-include="'templates/withdrawAttorneyList.html'"></div>
    </div>
</div>
<div class="panel panel-default">
  
  	<div ng-if="withdrawMode == 'raa3'">
  		<div ng-include="'templates/withdrawReasons.html'"></div>
  	</div>
  	
  	<div ng-if="withdrawMode == 'raa4'">
  		<div ng-include="'templates/withdrawReasonsPowAtEnding.html'"></div>
  	</div>
  
    <div class="panel-footer">

        <div class="row">
            <div class="col-md-4 col-xs-4 ">
                <button class="btn btn-default" id="previousPage"  ng-click="cancel()">Cancel</button>
            </div>
            <div class="col-md-4 col-xs-4 text-center">
                <button class="btn btn-default" id="saveButton" ng-click="save()">Save</button>
            </div>
            <div class="col-md-4 col-xs-4 text-right">

                <button class="btn btn-primary pull-right" id="continueButton" ng-click="goToCorrespondence()" ng-disabled="disableContinue">Continue</button>
            </div>
        </div>
    </div>
</div>
